nav {
    z-index: 1000;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

/* PAGE HOME*/
.catch_phrase{
  color : #20247b;
  font-size : larger;
  font-weight: bold;
  text-align: center;
  margin-top : 45px; 
}

.home_page_link, .home_page_link:link, .home_page_link:visited{
  color: #20247b;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  transition: 1s;
  font-weight: 700;
  opacity: 65%;
  text-decoration: none;
}

.home_page_link:hover{
  opacity: 100%;
  background-color: rgba(245, 245, 245, 0.7);
  box-shadow: 0px 0px 20px rgba(31, 45, 61, 1);
  border-radius: 15px;
  transition: 1s;
}

.home-page-infos{
  position:absolute;
  margin: -20px 5vw auto 5vw;
  z-index:1;

  width: 90vw;
  height: 500px;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
}

.home-page-counter{
  margin-top : 45px; 
}

.home-page-counter h6{
  font-size: calc(1.325rem + 1vw);
  font-weight: 700;
  color:#20247b;
  margin: 0 0 5px;
  line-height: 1.2;
}

.home-page-counter p{
  font-size: calc(1.3rem + 0.1vw);
  font-weight: 600;
}

/*************************************************************/

.display-form-bg{
  padding: 20px 150px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(31, 45, 61, 0.2);
}

/*************************************************************/

.spinner-border{
  color:#20247b;
  width: 4rem; 
  height: 4rem;
  border-width: 0.9em;
}

.page-center{
  text-align: center;
  margin-top: 20px;
}

.main_container{
    top: 0;
    position: absolute;
    padding-top: 56px;
    height: 100%;
    width: 100%;
}

#page_content{
    height: 100%;
}
.searchbar{
    display: flex;
    height: 10%;
}

#contener {
    display: flex;
    height: calc(100% - 15%);
}

#search_housing_list {
    height: calc(100% - 15% - 50px);
    width: 50%;
    overflow-y: scroll;
    position: fixed;
}
#search_housing_map {
    height: 100%;
    width: 50%;
    margin-left: 50%;
}

#recherche_preference {
    display: flex;
    height: 5%;

}

#lien_invisible{
    outline: none;
    text-decoration: none;
    color : white;
}

#search_activity_list {
    height: calc(100% - 10% - 50px);
    width: 50%;
    overflow-y: scroll;
    position: fixed;
}
#search_activity_map {
    height: 100%;
    width: 50%;
    margin-left: 50%;
}

#housing_description, #activity_description {
    width: 75%;
    margin-top: 30px;
}

#activity_description{
  width: 85%;
}

#housing_booking {
  position: absolute;
  top: 40rem;
  z-index: 1;
  width: 25%;
  display: inline-block;
  right: 50px;
  padding: 20px 5px;
  background-color: rgba(32, 39, 123, 0.17);
  border: 2px solid rgba(32, 39, 123, 0.27);
}

#housing_booking input{
  background-color: rgba(240, 240, 240, 0.9);
}

@media (max-width: 767px) {
  #housing_booking {
    position: initial;
    width: 90%;
    margin: 10px 5%;
  }
}

.flex{
    flex-grow: 1;
}
.data_search{
  padding: 20px 50px 50px 50px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(32, 39, 123, 0.07);
  border: black solid 4px;
  height: auto;
  margin-bottom: 1px;
}
.data_search h4{
padding-bottom: 8px;
border-bottom: solid 2px #ced4da;
color: #20247b;
font-weight: 450;
}
.data_search:hover{
    background-color: lightgray;
    animation: change 1s 1;
}
.link_announce{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    color: black;
}
.link_announce:hover {
    color: black;
    text-decoration: none;
}

@keyframes change {
    0%{background-color: white}
    100%{background-color: lightgray}
}

#map {
    height: 100%;
}

.ask_info{
    border: black solid 1px;
    height: auto;
}

.ask_info_housing{
    border: black solid 1px;
    height: auto;
}

.asking_section{
    height: 100%;
    width: 100%;
}

.center-align{
    text-align: center;
}

.section {
    padding: 50px 0;
    position: relative;
}

.gray-bg {
    background-color: #f5f5f5;
}

.img-profile {
  max-width: 30vw;
}

.img-size {
    vertical-align: middle;
    border-style: none;
    border-radius: 20px;
}

/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}

.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}

.about-text p {
  font-size: 18px;
  max-width: 450px;
}

.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}

.about-list .media {
  padding: 5px 0;
}

.about-list label {
  color: #20247b;
  font-weight: 600;
  width: max-content;
  margin: 0;
  position: relative;
}

.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}

.about-list p {
  margin: 0;
  font-size: 15px;
}

.about-avatar img{
    box-shadow: 10px -5px 15px rgba(31, 45, 61, 0.125);
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}

.about-section .counter p {
  font-weight: 600;
  margin: 0;
}

mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}

.theme-color {
    color: #fc5356;
}

.dark-color {
    color: #20247b;
}

.input-text-profile{
    width: 49%;
    padding: .375rem .75rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-primary{
    border-color: #20247b;
    color: #20247b;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-outline-primary:hover{
    border-color: #20247b;
    background-color: #20247b;
    transition: 0.5s;
}

.btn-lg:hover{
    color: #f5f5f5;
}

#del_img_profile{
    margin-top: 10px;
}

.profile-box{
  padding: 20px 50px 50px 50px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(32, 39, 123, 0.07);
}

.profile-box h2{
  padding-bottom: 8px;
  border-bottom: solid 2px #ced4da;
  color: #20247b;
  font-weight: 450;
}

.profile-box h2 NOBR{
  margin-left: 10px;
  margin-bottom: 10px;
}

.profile-box h2 i{
  font-size: 30px;
  color:#20247b
}

.btn-danger{
  line-height: 20px;
  font-size: 20px;
  border-radius: 10px;

}

/*Notes et commentaires*/
.rate{
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 40px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.stars-color{
  font-size: x-large;
  color: #FFD600;
  margin-right: 5px;
}

/*--- SUPER LIKE ---*/
.heartbox {
    transform: translate(-50%, -50%);
}

svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  margin: 20px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked+label svg #heart {
  transform: scale(0.2);
  fill: #E2264D;
  animation: animateHeart .3s linear forwards .25s;
}

.checkbox:checked+label svg #main-circ {
  transition: all 2s;
  animation: animateCircle .3s linear forwards;
  opacity: 1;
}

.checkbox:checked+label svg #heartgroup1 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup1 #heart1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup1 #heart2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup2 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup2 #heart1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup2 #heart2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup3 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup3 #heart1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup3 #heart2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup4 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup4 #heart1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup4 #heart2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup5 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup5 #heart1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup5 #heart2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup6 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup6 #heart1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup6 #heart2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup7 {
  opacity: 1;
  transition: .1s all .3s;
}

.checkbox:checked+label svg #heartgroup7 #heart1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: .5s transform .3s;
}

.checkbox:checked+label svg #heartgroup7 #heart2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform .3s;
}

.checkbox:checked+label svg #heartgroup2 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup3 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup4 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup5 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup6 {
  opacity: 1;
  transition: .1s opacity .3s;
}

.checkbox:checked+label svg #heartgroup7 {
  opacity: 1;
  transition: .1s opacity .3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} 

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  } 
}

/* PAGE 404 */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: .25rem;
}

.card .card-header {
  background-color: #fff;
  border-bottom: none;
}

/*-------------------------------- BADGES --------------------------*/
.bronze{
  /*background-color : brown;*/
  background-image: linear-gradient(
 to bottom right,
 rgb(116, 73, 14) 0,
 rgb(186, 130, 75) 16%, 
 rgb(230, 179, 137) 35%,
 rgb(250, 219, 188) 50%,
 rgb(230, 179, 137) 65%,
 rgb(186, 130, 75) 84%,
 rgb(116, 73, 14) 100%
 );
}

.silver{
  /*background-color : silver;*/
  background-image: linear-gradient(
 to bottom right,
 rgb(98, 98, 98) 0,
 rgb(121, 121, 121) 16%, 
 rgb(177, 177, 177) 35%,
 rgb(211, 211, 211) 50%,
 rgb(177, 177, 177) 65%,
 rgb(121, 121, 121) 84%,
 rgb(98, 98, 98) 100%
 );
}

.gold{
  background-image: linear-gradient(
 to bottom right,
 #462523 0,
 #cb9b51 16%, 
 #f6e27a 35%,
 #f8f3ac 50%,
 #f6e27a 65%,
 #cb9b51 82%,
 #462523 100%
 );
}

.bronze, .silver, .gold{
  border: solid 1px rgb(34, 34, 34);
  border-radius: 15px;
  color: rgb(34, 34, 34);
  height: calc(60px + 0.9rem);
  width: calc(60px + 0.9rem);
  font-size: calc(15px + 1rem);
  margin: 5px 10px;
}

.bronze:hover, .silver:hover, .gold:hover{
  border: none;
  box-shadow: 0px 0px 20px rgba(31, 45, 61, 1);
  color: rgb(34, 34, 34);
}


/* BUBBLE */
.talk-bubble {
	margin: 20px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 15px 0px 20px rgba(31, 45, 61, 0.2);
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
}

/* talk bubble contents */
.talktext{
  margin-left: 50px;
  padding: 1.5em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.rate-name{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  font-style: oblique;
  color: rgb(160, 160, 160);
}

/* ERREURS */
.error{
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 0, 0, 0.1);
  color: rgb(255, 0, 0);
  list-style: none;
  padding-left: 40px;
}