nav {
    z-index: 1000;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main_container{
    top: 0;
    position: absolute;
    padding-top: 56px;
    height: 100%;
    width: 100%;
}

#page_content{
    height: 100%;
}
.searchbar{
    display: flex;
    height: 10%;
}
#contener {
    display: flex;
    height: calc(100% - 10%);
}
#search_housing_list {
    height: calc(100% - 10% - 50px);
    width: 50%;
    overflow-y: scroll;
    position: fixed;
}
#search_housing_map {
    height: 100%;
    width: 50%;
    margin-left: 50%;
}

#lien_invisible{
    outline: none;
}

#search_activity_list {
    height: calc(100% - 10% - 50px);
    width: 50%;
    overflow-y: scroll;
    position: fixed;
}
#search_activity_map {
    height: 100%;
    width: 50%;
    margin-left: 50%;
}

#housing_description {
    width: 75%;
}
#housing_booking {
    width: 25%;
}

.flex{
    flex-grow: 1;
}
.data_search{
    border: black solid 1px;
    height: auto;
}
.data_search:hover{
    background-color: lightgray;
    animation: change 1s 1;
}
.link_announce{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    color: black;
}
.link_announce:hover {
    color: black;
    text-decoration: none;
}

@keyframes change {
    0%{background-color: white}
    100%{background-color: lightgray}
}

#map {
    height: 100%;
}

.ask_info{
    border: black solid 1px;
    height: auto;
}

.ask_info_housing{
    border: black solid 1px;
    height: auto;
}

.asking_section{
    height: 100%;
    width: 100%;
}

.center-align{
    text-align: center;
}

.section {
    padding: 50px 0;
    position: relative;
}

.gray-bg {
    background-color: #f5f5f5;
}

img {
    max-width: 30vw;
    vertical-align: middle;
    border-style: none;
    border-radius: 20px;
}

/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}

.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}

.about-text p {
  font-size: 18px;
  max-width: 450px;
}

.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}

.about-list .media {
  padding: 5px 0;
}

.about-list label {
  color: #20247b;
  font-weight: 600;
  width: max-content;
  margin: 0;
  position: relative;
}

.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}

.about-list p {
  margin: 0;
  font-size: 15px;
}

.about-avatar img{
    box-shadow: 10px -5px 5px rgba(31, 45, 61, 0.125);
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}

.about-section .counter p {
  font-weight: 600;
  margin: 0;
}

mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}

.theme-color {
    color: #fc5356;
}

.dark-color {
    color: #20247b;
}

.input-text-profile{
    width: 49%;
}

.btn-outline-primary{
    border-color: #20247b;
    color: #20247b;
}

.btn-outline-primary:hover{
    border-color: #20247b;
    background-color: #20247b;
}

.btn-lg:hover{
    color: #f5f5f5;
}

#del_img_profile{
    margin-top: 10px;
}

/*Notes et commentaires*/
.rate{
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}