* {
    margin: 0px;
    padding: 0px;
}

:root{
    --text_body_color: rgb(0, 0, 0);
}

body {
    font-family: sans-serif;
}

img{
    max-height: 500px;
}

/* ----------------- Style général ----------------- */

h1{
    background-color: rgb(38, 123, 162);
    color: rgb(1, 56, 81);
    height: 15vh;
    min-height: calc(1.5rem + 2vw);
    max-height: 300px;
    text-align: center;
    font-size: calc(1.5rem + 2vw);
    line-height: 15vh;
}

body {
    background-color: rgb(224, 247, 217);
    color: var(--text_body_color);
}

/* ----------------- Page compte ----------------- */

/* ----- Home ----- */

section.user_page img{ 
    height: 50px;
}

section.user_page h2{
    border-bottom: solid 2px;
}