nav {
    z-index: 1000;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main_container{
    top: 0;
    position: absolute;
    padding-top: 56px;
    height: 100%;
    width: 100%;
}

#page_content{
    height: 100%;
}
.searchbar{
    display: flex;
    height: 10%;
}
#contener {
    display: flex;
    height: calc(100% - 10%);
}
#search_housing_list {
    height: calc(100% - 10% - 50px);
    width: 50%;
    overflow-y: scroll;
    position: fixed;
}
#search_housing_map {
    height: 100%;
    width: 50%;
    margin-left: 50%;
}
.flex{
    flex-grow: 1;
}
.data_search{
    border: black solid 1px;
    height: auto;
}

.link_announce{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    color: black;
}
.link_announce:hover {
    color: black;
    text-decoration: none;
}