* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

img{
    max-height: 500px;
}

h1{
    background-color: rgb(38, 123, 162);
    color: rgb(1, 56, 81);
    height: 15vh;
    min-height: calc(1.5rem + 2vw);
    text-align: center;
    font-size : calc(1.5rem + 2vw);
    line-height : calc(1.5rem + 2vw);
}
